body {
    background-color: rgb(80, 238, 255);
    background-image: url('./student.jpg');
    background-repeat: no-repeat;
    background-size: 1550px 900px;
  }
img {
    border-radius: 50%;
}



